#ser1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('bg2.jpg');
    width: 100%;
    padding-bottom: 50px;
}

#ser2 h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    font-family: 'Tai Heritage Pro', serif;
    /* margin-top: 50px; */
}

html {
    scroll-behavior: smooth;
}

#ser1 {
    padding-top: 50px;
}

#services {
    margin-top: 50px;
}

#hover:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#hover1:hover {
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#ah:hover {
    border: 1px rgb(81, 81, 208) solid;
}

#navbarNav {
    padding-left: 600px;
}

@media screen and (max-width: 1075px) {
    #navbarNav {
        display: inline-block;
        margin-left: 0px;
        letter-spacing: 0pxs;
        padding-left: 0px;
    }
    #ser1 {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    #input-btn {
        padding-left: 0px;
    }
}

@media screen and (max-width: 600px) {
    #img3 {
        display: none;
    }
    #sevices {
        background-image: none;
    }
    #img3 {
        display: none;
    }
    #navi2 {
        text-align: center;
        align-items: center;
    }
    .navbar-toggler-icon {
        display: none;
    }
    #pb {
        padding-top: 50px;
    }
    #hover {
        align-items: center;
        padding-left: 70px;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    #cad {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #ser {
        margin-bottom: 90px;
        margin-top: 90px;
    }
    #cd {
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

nav {
    background: rgb(242, 236, 236);
}

.navbar-brand {
    margin-left: 40px;
    font-size: 90px;
}

.navbar-brand span {
    color: rgb(53, 38, 161);
}

.nv {
    justify-content: end;
}


/* .ff {
    font-family: font-family: 'Libre Bodoni', serif;
} */

#img4 img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 50%;
    border: 5px solid white;
}

#btnhover:hover {
    border: 4px white solid;
}

#accordionPanelsStayOpenExample {
    border: 1px solid black;
}

#sevices {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('bg.jpg');
}